Resources:
  SSMDoc:
    Type: "AWS::SSM::Document"
    Properties: 
      Content: 
        {{ doc_contents | indent( width=8, indentfirst=True) }}
      DocumentType: Automation
      Tags:
        - Key: Name
          Value: TestDoc
