Resources:
  ForestDoc:
    Type: "AWS::SSM::Document"
    Properties:
      DocumentType: Automation 
      Content:
        description: Systems Manager Automation - Build a New Active Directory Forest from Scratch
        schemaVersion: '0.3'
        parameters:
          echo_message:
            type: String
            default: 'hello-world'
        mainSteps:
          - name: echotest
            action: aws:runCommand
            maxAttempts: 1
            onFailure: Abort
            inputs:
              DocumentName: AWS-RunPowerShellScript
              echomessage: '{{"{{"}}echomessage{{"}}"}}'
              Parameters:
                commands:  Invoke-Expression ([System.Text.Encoding]::Unicode.GetString([Convert]::FromBase64String("{{ b64_echo_test.stdout }}")))  
          executionTimeout: '3600'
